<h1>id :<%= @tasks.id %>の詳細ページ</h1>

<p><%= @tasks.content %></p>

<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'この登録を編集する', edit_task_path(@tasks) %>
<%= link_to 'この登録を削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>